@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Pixelify+Sans:wght@400;500;600;700&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Neucha', cursive;
    background-color: cornflowerblue;
}

main {
    width: 80vw;
}

.title {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
}